proj3/**/*.py
# Ignore all images (jpg, png, jpeg, bmp, gif, tiff) in all directories and subdirectories
**/*.jpg
**/*.JPG
**/*.jpeg
**/*.JPEG
**/*.png
**/*.PNG
**/*.bmp
**/*.BMP
**/*.gif
**/*.GIF
**/*.tiff
**/*.TIFF
nerf/datasets/**/*.npz
nerf/part2/datasets/**/*.npz
nerf/**/ARCHITECTURE_DIAGRAM.md
nerf/**/checkpoints/**/*.pth
model_iter_1000.pt
// INSERT_YOUR_CODE
# Allow only images referenced in nerf/index.html
!nerf/part0/results/*.png
!nerf/part1/results/**/*.png
!nerf/part1/results/**/*.jpg
!nerf/part2/all_camera_rays.png
!nerf/part2/ray_and_sample*.png
!nerf/part2/3dnerf_results/*.png
!nerf/part2/3dnerf_results/*.jpg
!nerf/part2/3dnerf_results/*.gif
# Ignore calibration images and other non-referenced images
nerf/calibration_images/
nerf/mouse_images/
